{% extends 'base.html' %}

{% block title %}
<h1>about page</h1>
{% endblock %}

{% block content %}
<h1 class="text-center my-3">About Us</h1>
<hr>
<div class="container mb-4">
<h3 class="text-danger my-4">A one-stop multi super specialty hospital that will take care of all your health and medical needs. Wizzy Medicity, come up with an expert insight into health services has set highest standards for quality and care to ensure top-notch healthcare experience.</h3>
 <h2>Our Mission</h2>
 <p>To make the Hospital a frontline medical citadel by developing a comprehensive healthcare delivery system, accessible to clientele all over the world and maintaining competitive edge through delivery of quality care and evidence based practice.</p>
   <hr>
 <h2>Our Vision</h2>
 <p>To provide affordable health services at par with the best in the world by continually updating our own standards in healthcare delivery.</p>
</div>
{% endblock %}