{% extends 'base.html' %}

{% block title %}
<h1>doctors page</h1>
{% endblock %}

{% block content %}
<h1 class="text-center my-5">Our doctors</h1>
<div class="container text-center bg-light">
{%  for d in doc %}
<div class="card text-center " style="width: 18rem; display: inline-block;">
    <img class="card-img-top" src="{{d.doc_image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dr.{{d.doc_name}}</h5>
      <p class="card-text">{{d.doc_spec}}</p>
      <h6>{{d.dep_name}} department</h6>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}